<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: monospace;
            font-size: 14px;
        }

        .max-w-20 {
            max-width: 1800px;
        }

        .w-16 {
            width: 1800px;
        }

        .no-wrap {
            white-space: nowrap;
        }

        .table-condensed {
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div id="mail_content" style="font-size: 16px;">
        <p>{{ isps.name }} 您好,</p>
        <p>&nbsp;&nbsp;這裡是"是方電訊"(AS 17408)，我們有 {{ task.update_type }} 的需求，麻煩您協助設定並請回覆告知，謝謝您</p>
        
    </div>
</body>

</html>